@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #191414;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body {
    font-family: var(--font-inter), sans-serif; 
  }
  